.navbar-nav .nav-item .nav-link{
    color: #000 !important;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar-nav .nav-item .nav-link.active, .navbar-nav .nav-item .nav-link:hover{
    color: red !important;
}
.card-option{
    visibility: hidden;
    opacity: 0;
    transition: all .2s;
    transform: translateY(100%);
    overflow: hidden;
}
.card:hover .card-option{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}